<div class="main-container">
  <div class="content-container">
    <div class="child-content-container">
      <h2 style="color: white;line-height: 34px">
        <strong>KHU NGHĨ DƯỠNG ẨM THỰC</strong>
        <br>
        <strong>TỌA LẠC TẠI BIỂN ĐÀ NẴNG</strong>
        <br>
        <strong>MỘT TRONG SÁU BÃI BIỂN ĐẸP NHẤT THẾ GIỚI</strong>
      </h2>
    </div>
    <div class="child-content-container" style="flex-direction: column;justify-items: center;justify-content: center">
      <div class="list-item-content">
        <!--    <i class="fa-duotone fa-handshake-angle" style="color:#c3c3c3;font-size: 60px"></i>-->
        <i class="fa-solid fa-location-dot fa-xl "></i>
      </div>
      <div class="list-item-content">
        <i class="fa fa-handshake-angle"></i>
      </div>
      <div class="list-item-content">
        <i class="fa-solid fa-tag"></i>
      </div>


    </div>

  </div>
  <div class="conainer-navbar" >
    <div class="contain-input-container">
      <input type ="date">
    </div>
    <div class="contain-input-container">
      <input type ="date">
    </div>
    <div class="contain-input-container">
      <input type ="text" placeholder="Promo code">
    </div>
    <div class="contain-input-container">
      <input class="btn-hover submit-button" type="submit" value="Check Availability" style="background-color: #8665db;border: 0px">
    </div>
    <div class="contain-input-container">
      <a class="link-cancel ">Modify & Cancel</a>
    </div>


  </div>
</div>
